#header, #footer {
    background-color: black;
    height: 50px;
    padding-top: 10px;
    width: 100%;

    color: white;
    
}
#header ul {
    list-style: none;
}

#header ul li {
    display: inline;
    margin-right: 10px;
    font-size: 23px;
}

#footer {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

input {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;

}
body {
    background-color: lightblue;
}

div {
    word-wrap: break-word;
    margin: auto;
    width: 70%;
    display: block;
    height: auto;
    border-radius: 5px;
}

#contentMain {
    margin-top: 10px;
    background-color: white;
    
    padding: 10px;
}


.navbar a {
    padding: 5px;
}

.navbar a:link, .navbar a:visited {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    background-color: lightblue;
}


